div.container{
  width: 300px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

div.container_header{ height: 25% }

div.button_area{ height: 50% }

div.results_area{ height: 50% }

div.container_canvas{ height: 75% }

div.container canvas{ width: 100% }
